<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
@{
    ViewBag.Title = "Персоны";
}

<h2><i class="fa fa-bell"></i> Расписание занятий</h2>

<a href="@Url.Action("ExShow", "Exercises", new { @ReturnUrl = "/Exercises/CalendarShow/" })">Управление занятиями</a>

<div class="row" style="">
    <div class="col-md-6">
        <p class="text-success" id="TextSuccess"> @TempData["MessageOk"]</p>
        <p class="text-danger"> @TempData["MessageError"]</p>
    </div>
</div>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-lg-12">
        <div id='wrap'>
            <div id="extpanel">
                <div>
                    <a class="btn btn-default FCButton"
                       title="Добавить занятие"
                       href='@Url.Action("ExCreate", "Exercises", new {@ReturnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())})'>
                        <i class="fa fa-plus-circle"> Добавить занятие</i>
                    </a>
                </div>
                <div id='external-events' title="Перетяните занятие для удаления">
                </div>
            </div>
            <div id='calendar'></div>
            <div style='clear:both'></div>
        </div>
    </div>
</div>

<a href="#" class="scrollup1">Наверх</a>

@section Scripts {
    <script src="~/Scripts/FullCalendar/lib/moment.min.js"></script>
    <script src="~/Scripts/FullCalendar/lib/jquery.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/FullCalendar/fullcalendar.min.js"></script>
    <script src='~/Scripts/FullCalendar/ru.js'></script>
    <script src="~/Scripts/toparrow.js"></script>

    @* Скрипт удаление cookies состояния полей формы добавления занятия *@
    <script type="text/javascript">

        $(function () {
            $.removeCookie('EventId');
            $.removeCookie('EventLabel');
            $.removeCookie('Subject');
            $.removeCookie('StartTime');
            $.removeCookie('EndTime');
            $.removeCookie('Note');
            $.removeCookie('ReturnUrl');
        });
    </script>

    <script>
        $(document).ready(function () {

            var _now = new Date;

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,list'
                },
                defaultDate: _now,
                unselectAuto: true,
                theme: false, //Тема оформления -------------------------
                navLinks: true, // can click day/week names to navigate views
                selectable: false, //Отключаем обработку щелчка по ячейке календаря
                selectHelper: true,
                droppable: true, // this allows things to be dropped onto the calendar
                dragRevertDuration: 0,
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                allDaySlot: false,
                events: '/exercises/ShowExercises/',

                select: function () {
                    var title = prompt('Название занятия:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },

                //=======================Щелчок по событию==========================
                eventClick: function (calEvent, jsEvent, view) {

                        if (!confirm('Перейти на страницу управления занятием "' + calEvent.title + '"?')) {
                            return false;
                        }
                        else {
                            var UrlStr = '/Exercises/ExShow?ExerciseId=' + calEvent.id;
                            window.open(UrlStr, "_blank");
                        }
                },

                //==============================Start===============================
                eventDragStart: function (event, jsEvent, ui, view, revertFunc) {

                },

                //==============================STOP================================
                eventDragStop: function (event, jsEvent, ui, view, revertFunc) {

                    if (isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                        if (!confirm('Удалить занятие "' + event.title + '"?')) {
                            $('#calendar').fullCalendar('unselect');
                            return false;
                        }

                        $.ajax({
                            url: "/Exercises/FCEventDelete/",
                            type: "POST",
                            data: {
                                Ex_Id: event.id,
                            },
                            success: function (data) {
                                if (!data.Result) {
                                    alert(data.Message);
                                    revertFunc();
                                    $('#calendar').fullCalendar('unselect');
                                }
                                else {
                                    $('#calendar').fullCalendar('removeEvents', event._id);
                                    $('#calendar').fullCalendar('unselect');
                                }
                            },
                            error: function (data) {
                                alert('Во время выполнения запроса возникла ошибка!');
                                $('#calendar').fullCalendar('unselect');
                                revertFunc();
                            },

                        });
                    }
                },

                eventDrop: function (event, delta, revertFunc) {

                    if (!confirm('Вы изменили время начала занятия "' + event.title + '" \nСохранить изменения?')) {
                        revertFunc();
                    }
                    FCAjax(event, delta, revertFunc);

                },

                eventResize: function (event, delta, revertFunc) {
                    if (!confirm('Вы изменили продолжительность занятия "' + event.title + '" \nСохранить изменения?')) {
                        revertFunc();
                    }
                    FCAjax(event, delta, revertFunc);
                }

            });

            //----------------------------------------------------------------------------
            //Обработка перетаскивания блока занятия за пределы календаря
            var isEventOverDiv = function (x, y) {

                var external_events = $('#external-events');
                var offset = external_events.offset();

                //Блок вычисления координат панели корзины при скролле
                offset.top -= $(window).scrollTop();
                offset.bottom -= $(window).scrollTop();
                offset.right -= $(window).scrollLeft();
                offset.left -= $(window).scrollLeft();

                offset.right = external_events.width() + offset.left;
                offset.bottom = external_events.height() + offset.top;

                offset.right = external_events.width() + offset.left;
                offset.bottom = external_events.height() + offset.top;

                ////Диагностическая информация---------------------------------
                //console.clear();
                //console.log('x => ' + x + ', y => ' + y);
                //console.log('ScrollLeft => ' + $(window).scrollLeft() + ', ScrollTop => ' + $(window).scrollTop());
                //console.log('Left => ' + offset.left + ', Right => ' + offset.right);
                //console.log('Top => ' + offset.top + ', Bottom => ' + offset.bottom);

                // Сравнение координат
                if (x >= offset.left
                    && y >= offset.top
                    && x <= offset.right
                    && y <= offset.bottom) { return true; }
                return false;

            }

            $('body').click(function () {
                $('#TextSuccess').hide(500);
            });

            extpanelToggle();


            $('#loadingImg').hide();
        });

        //Функция отправки параметров занятия на сервер после изменения размера/перетаскивания (Resize/Drop)
        function FCAjax(event, delta, revertFunc) {
            if (event.end == null) {
                event.end = event.start.setMinutes(event.start.getMinutes()+60);
            }

            $.ajax({
                url: "/Exercises/FCEventChange/",
                type: "POST",
                data: {
                    Ex_Id: event.id,
                    Start_Time: event.start.format(),
                    End_Time: event.end.format()
                },
                success: function (data) {
                    if (!data.Result) {
                        alert(data.Message);
                        revertFunc();
                    }
                },
                error: function (data) {
                    alert('Во время выполнения запроса возникла ошибка!');
                    revertFunc();
                },

            });

        }
    </script>

    <script type="text/javascript">
        //----------Изменение размеров окна окна-----------
        $(window).resize(function () {
            extpanelToggle()
        });

        //Проверяем ширину окна
        function smallScreen() {
            var minWidth = 1200; //Ширина окна при которой отображается панель корзины
            var dw = $(window).width();
            if (dw < minWidth) {
                console.log(dw + ' < ' + minWidth);
                return true;
            }
            console.log(dw + ' >= ' + minWidth);
            return false;
        }

        function extpanelToggle() {
            if (!smallScreen()) {
                $('#extpanel').show(500, function () {
                    $('#calendar').css({ 'width': '900px', 'float': 'right' });
                });
            }
            else {
                $('#extpanel').hide(500, function () {
                    $('#calendar').css({ 'width': $(window).width() - 100, 'float': 'left' });
                });
            };
        }
    </script>
}