################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
*.nupkg
*.transform
/packages/jQuery.UI.Combined.1.12.1/Content/Scripts/jquery-ui-1.12.1.js
/packages/jQuery.UI.Combined.1.12.1/Content/Scripts/jquery-ui-1.12.1.min.js
/.vs
/packages
/Sunny_House/bin
/Sunny_House/obj