@model Sunny_House.Models.CommentSource

@{
    ViewBag.Title = "Отзывы - Подробная информация";
}

<h2>Details</h2>

<div>
    <h4>CommentSource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
