@using System.Web.Script.Serialization;

@{
    var data_pay = ViewBag.sum;
    var data_ex = ViewBag.ex;
    JavaScriptSerializer js = new JavaScriptSerializer();
    string json_pay = js.Serialize(data_pay);
    string json_ex = js.Serialize(data_ex);
}

@{
    ViewBag.Title = "Статистика платежей";
}

<h2 class="text-center">@ViewBag.Message</h2>

<div>
    @{var years = Enumerable
    .Range(DateTime.Now.Year - 5, 10)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(),
        Text = year.ToString(),
        Selected = (year == DateTime.Today.Year)
    });
    }

    @Html.DropDownList("year", years, new { @class = "form-control", @style = "margin:20px; width:100px;", @id = "YDDL", @onchange = "document.location.href = '/Statistic/Payment?Year=' + this.options[this.selectedIndex].value;" })
</div>

<div style="width:810px; margin: 20px auto;">
    <canvas id="myChart" width="800" height="400"></canvas>
</div>


<script src="~/Scripts/Chart.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Декабрь"],
            datasets: [
                {
                    label: 'Платежи',
                    data: @json_pay,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(240, 60, 132, 0.2)',
                        'rgba(54, 80, 235, 0.2)',
                        'rgba(255, 206, 156, 0.2)',
                        'rgba(75, 120, 60, 0.2)',
                        'rgba(102, 255, 100, 0.2)',
                        'rgba(128, 200, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(240, 60, 132, 1)',
                        'rgba(54, 80, 235, 1)',
                        'rgba(255, 206, 156, 1)',
                        'rgba(75, 120, 60, 1)',
                        'rgba(102, 255, 100, 1)',
                        'rgba(128, 200, 64, 1)'
                    ],
                    borderWidth: 1
                },
            {
                type: 'line',
                label: 'Мероприятия',
                data: @json_ex,
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>


