

 <!-- Table -->
<table class="table table-bordered table-condensed table-striped ReestrTable">
    <tr>
        <th>ФИО</th>
        <th>Дата рождения</th>
        <th>Возраст</th>
        <th>Примечание</th>
    </tr>
    <tr>
        <td>Петренко Петро Петрович </td>
        <td>12.06.1997</td>
        <td>20</td>
        <td>TEST TEST TEST</td>
    </tr>
</table>
