.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.attFile{
    display:inline-block; 
    border:1px silver solid; 
    margin:0 4px 4px 0 !important; 
    padding:3px; border-radius:3px; 
    cursor:pointer;
}

.attFile:hover{
    background-color:lavender;
    color:#BF3030;
}

.attFileI{
    color:#BF3030;
}