 /*Круговой прогресс бар*/
.circle {
        width: 80px;
        margin: 6px 6px 20px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2;
    }

        .circle canvas {
            vertical-align: top;
        }

        .circle strong {
            position: absolute;
            top: 24px;
            left: 0;
            width: 100%;
            text-align: center;
            line-height: 30px;
            font-size: 21px;
        }

            .circle strong i {
                font-style: normal;
                font-size: 0.6em;
                font-weight: normal;
            }

        .circle span {
            display: block;
            color: #aaa;
            margin-top: 8px;
            font-size:14px;
        }

/*Линейный прогресс бар*/
 .progress {
        position: relative;
        height: 20px;
    }

        .progress > .progress-bar {
            background-color: #aaa;
        }

        .progress > .progress-completed {
            position: absolute;
            right: 0;
            font-weight: 700;
            font-size: 11px;
            line-height: 14px;
            padding: 3px 4px 2px;
        }