button,
button:active,
button:focus {
    outline: none !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.ReestrTable {
    margin-top: 20px;
}

    .ReestrTable tr td {
        vertical-align: middle !important;
        padding: 4px 12px;
    }

    .ReestrTable tr th {
        text-align: center;
    }

        .ReestrTable tr th a {
            color: #333;
        }

#partialtable tr td {
    vertical-align: middle !important;
}

div.modal-content.ui-front {
    padding: 0 20px 10px 20px;
}

.ModalTable tr td {
    vertical-align: middle !important;
}

#tabpanel {
    padding: 6px 1px 6px 1px;
}

.tab-content {
    margin: 10px;
}

/* Блок стилей для главного меню */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu {
    background-color: #222;
}

    ul.dropdown-menu > li > a {
        color: #999999;
    }

    ul.dropdown-menu > li {
        background-color: #212121;
    }

        ul.dropdown-menu > li > a:hover {
            background-color: #212121;
            color: #fff;
        }


/* Блок стилей для фильтра диапазона дат*/
.input-group-addon {
    border-left-width: 0;
    border-right-width: 0;
}

    .input-group-addon:first-child {
        border-left-width: 1px;
    }

    .input-group-addon:last-child {
        border-right-width: 1px;
    }

.groupbtn {
    border-width: 1px;
    border-color: #ccc;
}

    .groupbtn:hover {
        background: #fff;
        border-left: #ccc 1px solid;
    }


.fixed {
    position: fixed;
    z-index: 999;
}


.glyphicon {
    top: 0 !important;
}

/* Блок стилей для прелоадера*/
#loadingImg {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    width: 132px;
    height: 132px;
    margin: -66px 0 0 -66px;
    background: #706d5d;
    opacity: 0.3;
    border-radius: 10px;
    z-index: 999990;
}
#loadingImg > #preloadImg{
    text-align: center; 
    position: absolute; 
    top: 33px; left: 33px; 
    width: 66px; 
    height: 66px; 
    overflow: visible; 
    display: block;
}

/*Уменьшаем размер индикатора сортировки*/
.glyphicon.glyphicon-triangle-bottom, .glyphicon.glyphicon-triangle-top {
    font-size: 10px;
}